
bin/
obj/
*.user
*.userosscache
*.sln.docstates
.vs/
.user
.userosscache
*.suo
*.user
*.userosscache
*.sln.docstates
*.user
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
.vs/

node_modules/
dist/
build/
.npm
*.log
package-lock.json (ako koristite yarn, ako koristite npm nemojte ignorisati ovaj fajl)
.eslintcache

.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/
*.swp
*.bak
*.tmp

.env
.env.local
.env.development.local
.env.test.local
.env.production.local
appsettings.Development.json

.DS_Store
Thumbs.db